body{
    background-color: gray;
    height: auto;
    width:100%;
}

header{
    background-color: #ffffff;
} 

.top_menu{
    float:right;
}
li{
display: inline-block;
font-size: 20px;
padding:5px;
margin-right: 2px;
text-decoration:none;
}
a:hover{
  background-color: blue;  
}
.Home{
    background-color:coral;
    opacity: 0.3px;
    border-radius: 10px;
    font-weight: 30px;

}
.About{
    background-color:coral;
    opacity: 0.3px;
    border-radius: 10px;
    font-weight: 30px; 

}
.menu{
    background-color:coral;
    opacity: 0.3px;
    border-radius: 10px;
    font-weight: 30px;
}
.prices{
    background-color:coral;
    opacity: 0.3px;
    border-radius: 10px;
    font-weight: 30px;
}
.contact{
    background-color:coral;
    opacity: 0.3px;
    border-radius: 10px;
    font-weight: 30px;
}
a {
  text-decoration:none;
  }
button{
    background:rgb(233, 216, 220);
    color: rgb(15, 15, 15);
    margin: 5px;
    margin-right:150px;

}
h1{
    font-family: fantasy;
    color: chocolate;
    opacity:1px;
}
p{
    font-size: 20px;
}
.row{
   text-align: center;
   padding-bottom: 20px;
}
.column{
    float: right;
    width: 25%;
    background-color: grey;
    margin-left: 0px;
}
.one{
    border-radius: 15px;
}
.two{
    border-radius: 15px;
}
.three{
    border-radius: 15px;
}
.four{
    border-radius: 15px;
}
.bou{
    color: black;
}
.wrong{
    text-decoration: line-through;
}
#pie {
  color:white;
}
table{
    width:100%;
    border-collapse: collapse;
    margin-bottom:;
}
th,td{
    border:2px solid#dddddd;
    padding:8px;
    text-align:left;
}
th{
  background-color:black;
  color:white;
  }
table tr:nth-child(odd) {
  background-color:darkgrey;
  }
 footer{
    background-color: darkgrey;
    margin-top:20px;
}

@media screen and (max-width:920px){
    html{
        font-size: 14px;
    }
    body{
        width: 100%;
        height: auto;
    }

    .row{
        align-content: center;
        text-align: center;
        padding-bottom: 5px;
     }
    
     .column{
         width: 100%;
         background-color: gray;
         
         
    }
    .top_menu{
       float:right;
    }
    li{
        display: inline-block;
        font-size: 14px;
        padding:4px;
        margin-right: 2px;
        
    }
}
@media  screen and (min-width:1024px) and (max-width:1080px){
    html{
        font-size: 20px;
    }
    body{
        width: 100%;
        height: auto;
    }

    .row{
        text-align: center;
        padding-bottom: 5px;
     }
     .column{
         float: right;
         width: 25%;
         background-color: gray;
     }
     .one{
         width: 200px;
     }
     .two{
         width: 200px;
     }
     .three{
         width: 200px;
     }
     .four{
         width: 200px;
     }
    .top_menu{
         float:right;
     }
    li{
        display: inline-block;
        font-size: 20px;
        padding:10px;
        margin-right: 2px;
        text-decoration:none;
    }
}
@media  screen and (min-width:1440px) and (max-width:1440px){
    html{
        font-size: 28px;
    }
    body{
        width: 100%;
        height: auto;
    }

    .row{
        text-align: center;
        padding-bottom: 5px;
     }
     .column{
         float: left;
         width: 25%;
         background-color: gray;
     }
     .one{
         width: 300px;
     }
     .two{
         width: 300px;
     }
     .three{
         width: 300px;
     }
     four{
        width: 300px;
    } 
    top_menu{
         float:right;
     }
    li{
        display: inline-block;
        font-size: 30px;
        padding:10px;
        margin-right: 2px;
        
    }
}
@media  screen and (min-width:2560px) and (max-width:2560px){
    html{
        font-size: 50px;
    }
    body{
        
        width: 100%;
        height: auto;
    }

    .row{
        text-align: center;
        padding-bottom: 5px;
     }

     .column{
         float: right;
         width: 25%;
         background-color: gray;
     }
     .one{
         width: 300px;
     }
     .two{
         width: 300px;
     }
     .three{
         width: 300px;
     }
     four{
        width: 300px;
    } 
    top_menu{
         float:right;
     }
    li{
        display: inline-block;
        font-size: 40px;
        padding:10px;
        margin-right: 5px;
        text-decoration:none;
    }
}
